@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    margin: 0 auto;
    max-width: 90%;
}

header,
body {
    background-color: black;
}

/* Shared Style Start Here */
.display-flex {
    display: flex;
}

.btn-primary {
    background-color: rgb(230, 83, 60);
    padding: 1rem 2.5rem;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

/* Shared Style End Here */

.menubar-container {
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
}

.fitness {
    font-size: 3rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.menubar ul {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    justify-content: flex-start;
    padding: 0.6rem;
    gap: 2rem;
}

.menubar ul li {
    list-style: none;
    font-size: 1.25rem;
}

.menubar ul li a {
    text-decoration: none;
}

.item-size {
    color: white;
    background-color: rgb(230, 83, 60);
    padding: 8px 20px;
    border-radius: 20px;
}

.item-list {
    color: rgb(255, 255, 255);
}

.hambarger-menu {
    color: white;
    display: none;
}

/* navbar style end header */
.banner-container {
    justify-content: space-between;
}

.banner-child-1 {
    max-width: 580px;
}

.banner-child-1 h1 {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 4rem;
    line-height: 120%;
}

.miama-font {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 10rem;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    font-size: 1rem;
    padding-top: 1.85rem;
}

.btn-continer {
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin: 0;
    gap: 1.25rem;
}

.btn-download {
    display: flex;
    font-size: 1.15rem;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 1rem 2.5rem;
    border-radius: 40px;
    cursor: pointer;
}

/* navbar end */

.banner-container {
    padding-top: 40px;
}

.healthy-image {
    position: relative;
}

.healthy-image img {
    width: 100%;
    height: 100%;
}

.video-tutorial {
    position: absolute;
    top: 73%;
    left: -39%;
    padding: 1.25rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ball {
    height: 40px;
    width: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 20px;
}

.video-num {
    font-size: 24px;
    font-weight: 600;
    color: rgb(250, 250, 249);
    letter-spacing: 0.5px;
}

.video-title {
    font-size: 16px;
    color: rgba(239, 237, 232, 0.65);
    font-weight: 400;
    letter-spacing: 0.5px;
}

.free-video-container {
    position: absolute;
    top: 50%;
    right: -21%;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 12px;
}

.free-video-num {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}

.free-video-title {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.65);
}

/* banner part end */

/* habites gym part */
.habites-gym {
    max-width: 570px;
    margin-top: 120px;
}

.habites-gym h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.habites-gym p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 20px;
}

.practice-container {
    margin-top: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.practice-movement {
    max-width: 230px;
    text-align: center;
}

.practice-movement img {
    border-radius: 50%;
    border: 3px solid #1A1A1A;
}

.practice-movement h1 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

.practice-movement p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    padding-top: 6px;
}

/* run style start */
.main-run-container {
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-container {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 100px;
}

.run-child {
    max-width: 500px;
}

.run-image img {
    width: 100%;
    border-radius: 18px;
    object-fit: none;
    object-position: 65% 30%;
}

.run-child h1,
.exercises-container h1 {
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.run-child p,
.exercises-container p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.95rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding-top: 14px;
    padding-bottom: 50px;
}

.btn-primary-1 {
    padding: 1rem 4rem;
    font-size: 1.15rem;
    background-color: rgb(230, 83, 60);
    padding: 1rem 3.5rem;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.bmi-text {
    margin-left: 30%;
    margin-top: 4%;
}

/* Trainings and Exercises style started */

.exercises-title {
    padding: 2.5rem 0 0.7rem 0;
}

.exercises-description {
    max-width: 40%;
}

.exercises-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-1 {
    grid-column: 1 / 4;
}

.grid-2 {
    grid-column: 4 / 10;
}

.grid-3 {
    grid-column: 10 / 13;
}

.grid-4 {
    grid-column: 1 / 6;
}

.grid-5 {
    grid-column: 6 / 9;
}

.grid-6 {
    grid-column: 9 / 13;
}

.exercises-img {
    position: relative;
}

.exercises-img img {
    width: 100%;
    height: 100%;
}

.exercises-content .img {
    width: 100%;
    height: 100%;
}

.overly {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overly-1 {
    background: rgba(6, 255, 210, 0.5);
}

.overly-2 {
    background: rgba(255, 0, 0, 0.3);
}

.overly-3 {
    background: rgba(0, 0, 0, 0.5);
}

.overly-4 {
    background: rgba(0, 0, 0, 0.4);
}

.overly-5 {
    background: rgba(66, 255, 0, 0.3);
}

.overly-6 {
    background: rgba(0, 71, 255, 0.3);
}



.exercises-img h4 {
    position: absolute;
    bottom: 10%;
    left: 7%;
    font-weight: 500;
    font-size: 1.25rem;
}

.grid-2 h4 {
    position: absolute;
    color: white;
    top: 9%;
    left: 7%;
    font-weight: 500;
    font-size: 1.25rem;
}

.grid-3 h4 {
    position: absolute;
    color: white;
    bottom: 9%;
    left: 7%;
    max-width: 40%;
    font-weight: 500;
    font-size: 0.9rem;
}

.grid-4 h4 {
    position: absolute;
    color: white;
    top: 9%;
    left: 63%;
    max-width: 30%;
    font-weight: 500;
    font-size: 0.9rem;
}

.grid-5 h4 {
    position: absolute;
    color: white;
    bottom: 9%;
    left: 7%;
    max-width: 40%;
    font-weight: 500;
    font-size: 0.9rem;
}

.grid-6 h4 {
    position: absolute;
    color: white;
    bottom: 9%;
    left: 7%;
    max-width: 35%;
    font-weight: 500;
    font-size: 0.9rem;
}

/* Trainings and Exercises style end */

/* Bmi Style Section */
.bmi-container {
    justify-content: space-between;
    margin-top: 4rem;
    padding: 3rem 0;
}

.bmi-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.bmi-text p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    padding-top: 14px;
    max-width: 650px;
}


.bmi-backgound {
    background-color: rgb(34, 34, 34);
}

.bmi-heading {
    font-size: 28px;
    font-weight: 900;
    color: white;
    padding-bottom: 3rem;
}

.bmi-table,
table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 1.5rem 2.5rem;
}

.bmi-title {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

.bmi-calculate {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

/* bmi calculate */
.bmi-child-1 {
    max-width: 650px;
}

.input-container {
    padding-top: 2rem;
}

.bmi-heading-1 {
    color: white;
    font-size: 32px;
    font-weight: 900;
}

.bmi-child-1 p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    padding-top: 1rem;
}

.bmi-input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 20px;
}

.bmi-input-container input {
    width: 100%;
    height: 50px;
    color:  rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.bmi-select {
    margin-top: 10px;
}
#select-color{
    color:   rgba(255, 255, 255, 0.5);
}
.gender select {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
}

.bmi-select {
    display: grid;
    grid-template-columns: 1fr;
}

.bmi-select select {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    border: none;
    outline: none;
}

.btn-primary-2 {
    background-color: rgb(230, 83, 60);
    padding: 1rem 3rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.btn-size {
    padding-top: 3rem;
}

/* bmi calculate end */

/* team meat style section start */
.team-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-top: 80px;
}

.team-description {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 auto;
    width: 55%;
    margin-top: 10px;
}

/* trainer list style */

.trainer-container {
    padding: 2.5rem;
    background-color: #1A1A1A;
    border-radius: 20px;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    position: relative;
}

.trainer-list img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.trainer-list {
    position: relative;
}

.trainer-name-container-1 {
    position: absolute;
    bottom: 6%;
    left: 8%;
}

.trainer-name {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 900;
}

.trainer-title {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
}

/* Meat our team section end */

/* Creative Section style start here */

.blog-container {
    max-width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.blog-heading {
    color: #e67e22;
    text-align: center;
    font-size: 3rem;
    padding-top: 6rem;
}

.blog-title {
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 4rem;
}

.blog-content {
    max-width: 425px;
    padding-top: 2rem;
}

.blog-content img {
    width: 100%;
    border-radius: 1rem;
}

.admin-content {
    gap: 1rem;
    align-items: center;
    padding-top: 0.8rem;
}

.blog-date {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: red;
    padding: .5rem;
    text-align: center;
}

.admin-info-container {
    padding-top: 4px;
}

.admin-title,
.color-admin {
    color: rgba(255, 255, 255, .9);
    font-weight: 700;
}

.blog-date {
    color: rgba(243, 225, 225, 0.918);
}

.admin-info {
    padding-left: 10px;
    gap: 5px;
    align-items: center;
}

.admin-info h5 {
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
}

.color-file {
    color: rgba(255, 255, 255, 0.87);
}

.blog-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    padding-top: 1.5rem;
}

.btn-read {
    margin-top: 1rem;
    border: none;
    padding: 1rem 2rem;
    background-color: #e79e5e;
    color: white;
    font-size: 1.25rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn-entry {
    margin: 3rem auto;
    background-color: #ffbd03;
    font-size: 1.25rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn-entry a {
    text-decoration: none;
    color: white;
}

/* Creative Section style end */

/* footer section start */
.footer-container-main {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.child-1 h1 {
    font-size: 78px;
    color: #E6533C;
    margin: 0;
}

.child-1 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.5px;
    max-width: 70%;
}

.child-2 ul {
    padding: 0;
}

.child-2 h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}

.child-2 ul li {
    list-style: none;
    padding-top: 20px;
}

.child-2 ul li a {
    font-size: 23px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding-top: 20px;
}

.footer-container-main hr {
    opacity: 0.3;
    width: 90%;
    margin: 0 auto;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    padding: 2rem 0;
    letter-spacing: 0.5px;
    text-align: center;
}

/* footer section end */

.none {
    display: none;
}


/* media query */

/* small device */
@media screen and (max-width:576px) {

    /* menubar */
    .menubar {
        display: none;
    }

    .hambarger-menu {
        display: block;
    }

    /* body images section */
    .banner-container {
        flex-direction: column;
    }


    .btn-primary {
        padding: .6rem 1rem;
        font-size: 1rem;
    }

    .btn-download {
        padding: .6rem 1rem;
        font-size: 1rem;
    }

    /* habites gym */
    .healthy-image {
        display: flex;
        justify-content: center;
    }

    .healthy-image img {
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .habites-gym {
        margin: 0;
    }

    .habites-gym h1 {
        font-size: 2rem;
    }

    .practice-container {
        flex-direction: column;
        gap: 2rem;
    }

    .video-tutorial {
        top: 50%;
        left: 9%;
        padding: .7rem 1rem;
        gap: 10px;
    }

    .free-video-container {
        top: 7%;
        right: 0;
        padding: .5rem 1rem;
    }

    .free-video-num {
        font-size: 1.8rem;
    }

    .free-video-title {
        font-size: .6rem;
    }

    .video-title {
        font-size: .6rem;
    }

    /* run section */
    .run-container {
        grid-template-columns: 1fr;
    }

    .run-image img {
        margin-top: 2rem;
        object-fit: cover;
    }

    .run-child h1 {
        font-size: 2.5rem;
    }

    /* exercises section */
    .exercises-description {
        max-width: 90%;
    }

    .exercises-container h1,
    .bmi-text h1,
    .team-title {
        font-size: 2.25rem;
    }

    .grid-1 {
        grid-column: 1 / 7;
    }

    .grid-2 {
        grid-column: 7 / 13;
    }

    .grid-3 {
        grid-column: 1 / 6;
    }

    .grid-4 {
        grid-column: 6 / 13;
    }

    .grid-5 {
        grid-column: 1 / 7;
    }

    .grid-6 {
        grid-column: 7 / 13;
    }

    .grid-3 h4,
    .grid-4 h4,
    .grid-5 h4,
    .grid-6 h4 {
        font-size: 0.8rem;
        max-width: 80%;
    }

    /* bmi secton */
    .bmi-heading,
    .bmi-heading-1, .run-image {
        font-size: 1.25rem;
    }

    .bmi-table,
    table,
    th,
    td {
        padding: 1rem 1.5rem;
    }

    .bmi-text {
        font-size: 30px;
        margin-left: 5%;
    }

    .input-container {
        padding-top: ;
    }

    .bmi-container {
        flex-direction: column;
        gap: 3rem;
    }

    /* MEAT our team section */
    .team-description {
        width: 100%;
    }

    .trainer-container {
        grid-template-columns: 1fr;
    }

    /* creative section */
    .blog-container {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .blog-title {
        font-size: 1.7rem;
    }

    .admin-content {
        gap: 0;
    }

    .admin-title {
        font-size: 0.9rem;
    }

    .admin-info h5 {
        font-size: 0.6rem;
    }

    .blog-date {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blog-date p {
        font-size: 0.7rem;
    }

    .blog-description p,
    .team-description,
    .run-child p,
    .exercises-container p {
        font-size: 0.9rem;
    }

    /* footer section */
    .footer-container {
        flex-direction: column;
    }

    .footer-content {
        flex-direction: column;
        padding-top: 1rem;
    }

    .child-2 {
        padding-top: 2rem;
    }
}

/* medium device responsive */

@media screen and (min-width:576px) and (max-width:992px) {
    /* header */
    .banner-container {
        flex-direction: column;
    }
    .banner-child-1 {
        max-width: 80%;
    }
    /* body images */
    .video-tutorial {
        top: 63%;
        left: 9%;
        padding: 2rem 2rem;
    }
    .free-video-container{
        padding: 1.5rem 2rem;
        top: 7%;
        right: 2%;
    }
    /* our habits section start */
    .practice-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin:auto;
        max-width: 65%;
    }
    .habites-gym p {
        margin: auto;
        max-width: 85%;
        padding-bottom: 3rem;
    }
    .blog-container {
        flex-direction: column;
    }
    /* run section */
    .run-container {
        grid-template-columns: 1.1fr 0.9fr;
        margin-top: 100px;
    }
    .run-child {
        max-width: 290px;
    }
    .run-image{
        height: 100%;
        width: 100%;
    }
    .run-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* trainings and exercises section */
    .run-child h1, .exercises-container h1 {
        font-size: 2.5rem;
    }
    .exercises-description {
        max-width: 90%;
    }

    /* bmi section */
    .bmi-container{
        flex-direction: column;
    }
    .bmi-heading-1{
        padding-top: 4rem;
    }
    .team-description{
        width: 90%;
        padding-top:1rem ;
    }
    .bmi-text{
        margin-left: 0;
        text-align: start;
    }
    /* meat our team section */
    .trainer-name{
        font-size: 1rem;
    }
    .trainer-title{
        font-size: .9rem;
    }
    /* creative section */
    .blog-title{
        font-size: 2.5rem;
    }
    /* footer section */
    .footer-container{
        flex-direction: column;
    }
    .footer-content{
        padding-top: 5rem;
    }
}