@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    margin: 0 auto;
    max-width: 90%;
}

header,
body {
    background-color: black;
}

/* Shared Style Start Here */
.display-flex {
    display: flex;
}

.btn-primary {
    background-color: rgb(230, 83, 60);
    padding: 1rem 2.5rem;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
}

/* Shared Style End Here */
.menubar-container {
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
}

.fitness {
    font-size: 3rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.menubar ul li {
    list-style: none;
    margin-left: 50px;
    padding: 5px;
    font-size: 1.25rem;
    /* border: 1px solid red; */
}

.menubar ul li a {
    text-decoration: none;
}

.item-size {
    color: white;
    background-color: rgb(230, 83, 60);
    padding: 8px 20px;
    border-radius: 20px;
}

.item-list {
    color: rgb(255, 255, 255);
}

.hambarger-menu {
    color: white;
    display: none;
}

/* navbar style end header */
.banner-container {
    justify-content: space-between;
}

.banner-child-1 {
    max-width: 450px;
}

.banner-child-1 h1 {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 4rem;
    line-height: 120%;
}

.miama-font {
    font-family: 'Miama', sans-serif;
    font-weight: 900;
    font-size: 4.85rem;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    font-size: 1rem;
    padding-top: 1.85rem;
}

.btn-download {
    font-size: 1.15rem;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 1rem 2.5rem;
    border-radius: 40px;
}

.btn-continer {
    padding-top: 20px;
}

/* navbar end */
.banner-container {
    padding-top: 40px;
}

.healthy-image {
    position: relative;
}

.video-tutorial {
    position: absolute;
    top: 73%;
    left: -39%;
    /* margin: 0 auto; */
    padding: 1.25rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ball {
    height: 40px;
    width: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 20px;
}

.video-num {
    font-size: 24px;
    font-weight: 600;
    color: rgb(250, 250, 249);
    letter-spacing: 0.5px;
}

.video-title {
    font-size: 16px;
    color: rgba(239, 237, 232, 0.65);
    font-weight: 400;
    letter-spacing: 0.5px;
}

.free-video-container {
    position: absolute;
    top: 50%;
    right: -21%;
    /* position: relative; */
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 12px;
}

.free-video-num {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}

.free-video-title {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.65);
}

/* banner part end */

/* habites gym part */
.habites-gym {
    max-width: 570px;
    margin-top: 120px;
}

.habites-gym h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.habites-gym p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 20px;
}

/* .practice-container{
    margin-top: 58px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} */
.practice-container {
    margin-top: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.practice-movement {
    max-width: 230px;
    text-align: center;
}

.practice-movement img {
    border-radius: 50%;
    border: 3px solid red;
}

.practice-movement h1 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

.practice-movement p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    padding-top: 6px;
}

/* run style start */
.main-run-container {
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-container {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 100px;
}

.run-child {
    max-width: 500px;
}

.run-image img {
    width: 100%;
    border-radius: 18px;
}

.run-child h1 {
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.run-child p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.95rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding-top: 14px;
    padding-bottom: 50px;
}

.btn-primary-1 {
    padding: 1rem 4rem;
    font-size: 1.15rem;
    background-color: rgb(230, 83, 60);
    padding: 1rem 3.5rem;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 40px;
}

.bmi-text {
    margin-left: 30%;
    margin-top: 4%;
}

/* Bmi Style Section */
.bmi-container{
    justify-content: space-between;
}
.bmi-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.bmi-text p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    padding-top: 14px;
    max-width: 650px;
}


.bmi-backgound{
    background-color: rgb(34, 34, 34);
}
.bmi-heading{
    font-size: 28px;
    font-weight: 900;
    color: white;
    padding-bottom: 3rem;
}

.bmi-container{
    margin-top: 4rem;
    padding: 3rem 0;
}


.bmi-table,
table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 1.5rem 2.5rem;
}

.bmi-title {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

.bmi-calculate {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

/* bmi calculate */
.bmi-child-1{
    max-width: 650px;
}
.input-container{
    padding-top: 2rem;
}

.bmi-heading-1{
    color: white;
    font-size: 32px;
    font-weight: 900;
}
.bmi-child-1 p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    padding-top: 1rem;
}






.bmi-input-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    padding-top: 20px;
}
.bmi-input-container input{
    width: 100%;
    height:50px;
    color: rgb(24, 202, 48);
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
}
/* input::placeholder{
    color: red;
} */

.bmi-select{
    margin-top: 10px;
}
.gender select{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
}
.bmi-select{
    display: grid;
    grid-template-columns: 1fr;
}
.bmi-select select{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    border: none;
    outline: none;
}

.btn-primary-2{
    background-color: rgb(230, 83, 60);
    padding: 1rem 3rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
}
.btn-size{
    padding-top: 3rem;
}
/* bmi calculate end */

/* team meat style section start */
.team-title{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-top: 80px;
}
.team-description{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.5px;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 auto;
    width: 55%;
    margin-top: 10px;
}

/* trainer list style */

.trainer-container{
    padding: 2.5rem;
    /* background-color: rgba(0,0,0,0.2); */
    background-color: red;
    border-radius: 20px;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    position: relative;
}
.trainer-list img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.trainer-list{
    position: relative;
}
.trainer-name-container-1{
    position: absolute;
    bottom: 6%;
    left: 8%;
}

.trainer-name{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 900;
}
.trainer-title{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
}
/* Meat our team section end */

/* footer section start */

footer hr{
    opacity: 0.6;
}
.footer-fitness{
    max-width: 300px;
}
.footer-container{
    justify-content: space-between;
    padding: 3rem;
    align-items: center;
}
.footer-started-container{
    gap: 30rem;
}

.footer-fitness h1{
    font-size: 90px;
    color: rgb(230, 83, 60);
    font-weight: 900;
}
.footer-fitness p{
    color: rgba(255, 255, 255, 0.5);
    max-width: 400px;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 20px;
    letter-spacing: 0.5px;
}

.footer-service{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.footer-service ul{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-service h1{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.footer-service-1 h1{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.footer-service ul li{
    list-style: none;
    text-decoration: none;
}
.footer-service ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    gap: 3.5rem;
}

.footer-copyright{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem 0;
}
/* footer section end */

.none {
    display: none;
}


/* media query */

/* small device */
@media screen and (max-width:576px) {
    .menubar {
        display: none;
    }

    .hambarger-menu {
        display: block;
    }

    .healthy-image img {
        width: 70%;
        height: 100%;
    }

    .banner-container {
        flex-direction: column;
    }

    .video-tutorial {
        top: 76%;
        left: 2%;
    }

    .free-video-container {
        top: 43%;
        right: 9%;
    }

    .btn-continer {
        display: flex;
        justify-content: space-between;
    }

    .btn-primary {
        padding: .6rem 1rem;
        font-size: 1rem;
    }

    .btn-download {
        padding: .6rem 1rem;
        font-size: 1rem;
    }

    .practice-container {
        flex-direction: column;
        gap: 2rem;
    }

    .run-container {
        grid-template-columns: 1fr;
    }

    .run-image img {
        margin-top: 2rem;
    }
    /* bmi secton */
    .bmi-text {
        font-size: 30px;
        margin-left:5%;
    }
    .input-container{
        padding-top: ;
    }
    .bmi-container{
        flex-direction: column;
        gap: 3rem;
    }
    #h-w-space input{
        font-size: 0.9rem;
        padding: 1rem 0rem 1rem .8rem;
    }
    #sex-mf{
        padding: 1rem 7.6rem 1rem 1rem;
        font-size: .9rem;
    }
    #age-text input{
        font-size: .9rem;
        padding: 1rem 0rem 1rem 1rem;
    }

    /* MEAT our team section */
    .trainer-container{
        grid-template-columns: 1fr;
    }
    /* footer section */
    .footer-container{
        flex-direction: column;
    }    
    .footer-started-container{
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-direction: column;
        gap:2rem;
    }    
}